@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-pink: #F19CBA;
    --color-white: #C1C9CF;
    --color-background: #2B2B2B;
    --color-cyan: #72B7C0;
    --color-green: #72c0a0;
}

:root {
  --ui-primary: #72B7C0;
  --ui-secondary: #F19CBA;
  --ui-neutral: #C1C9CF;
  --ui-text: #C1C9CF;
  /* --ui-success: var(--ui-color-success-500); */
  --ui-success: #72c0a0;
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: #F19CBA;
}

body {
  font-family: 'JetBrains Mono', monospace;
  @apply text-gray-300
}

.font-anta {
    font-family: 'Anta';
}

.input-et {
    @apply w-full pr-10 pl-3 h-[36px] border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-gray-400 placeholder-gray-500 text-sm;
}

.placeholder {
    @apply !text-gray-500
}

.multiselect, .multiselect__input, .multiselect__tags{
  @apply !bg-background !h-[36px] !min-h-[36px] !p-0 !m-0
}

.multiselect__input {
    @apply !placeholder-gray-500 !text-sm !text-gray-300 
}

.multiselect__tags {
    @apply !border !border-gray-400 !flex !items-center !pl-3 !overflow-hidden
}

.multiselect__single {
    @apply !pl-0
}

.multiselect__placeholder {
    @apply !m-0 !p-0
}

.multiselect__content-wrapper {
    @apply !bg-background !text-white !border !border-gray-400
}

.multiselect__option--highlight {
  @apply !bg-cyan !text-gray-900
}

.multiselect__option--highlight .option-type{
  @apply !text-gray-800
}

.multiselect__option--highlight:hover {
    @apply !bg-cyan
}

.multiselect__single {
    @apply !bg-background !m-0 !text-sm
}

.multiselect__option {
    @apply !text-sm
}



