@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --color-pink: #f19cba;
    --color-white: #c1c9cf;
    --color-background: #2b2b2b;
    --color-cyan: #72b7c0;
    --color-green: #72c0a0;
}

:root {
    --ui-primary: #72b7c0;
    --ui-secondary: #f19cba;
    --ui-neutral: #c1c9cf;
    --ui-text: #c1c9cf;
    /* --ui-success: var(--ui-color-success-500); */
    --ui-success: #72c0a0;
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: #f19cba;
}


@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}


body {
  font-family: 'JetBrains Mono', monospace;
  @apply text-gray-300
}

.font-anta {
    font-family: 'Anta';
}

.input-et {
    @apply w-full pr-10 pl-3 h-[40px] border border-gray-400 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-gray-400 placeholder-gray-500 text-sm;
}


.page {
    @apply container mx-auto py-8 px-6 flex flex-col
}

.page-title {
    @apply text-3xl text-white
}

.las-bg-white {
    background-color: #2b2b2b!important;
}





/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
